.container {
    position: absolute;
    top: 0;
    right: 8;
    padding: 20px;
}

.Button {
    margin: 100px;
}

.panelStyle {
    padding: 24px;
    margin: 16px;
    border-radius: 8px
}

.titleStyle {
    margin-bottom: 16px
}